* {
    margin: 0;
    padding: 0;
}
.microsoft {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
    row-gap: 10px;
    column-gap: 10px;
}
.box1 {
    background-color: orangered;
}
.box2 {
    background-color: green;
}
.box3 {
    background-color: #0091ff;
}
.box4 {
    background-color: yellow;
}