* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    background-color: blue;
}

.flex {
    display: flex;
}

.container {
    height: fit-content;
    flex-direction: column;
    gap: 30px;
    border-radius: 5px;
    width: 500px;
    max-width: 95vw;
    padding: 25px;
    background-color: #00c4c4;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.input-box {
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

label {
    font-size: 17px;
    color: #0f000c;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}

#result {
    width: 100%;
    font-size: 18px;
}

button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}